.top-container{
    background-image: url(./images/donation5.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-position: center;
    width: 100%;
  
}

#title{
    color: whitesmoke;
}
#donation{
    color: black;
}
.importance{
    color:hsl(341, 85%, 47%);
}

.header{
    
    justify-content:center;
    font-size: xx-large;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 100px;
 

}
.paragraph{

    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    width: 350px;
    z-index: 100;
    padding-left: 280px;

   
    
}
.donate{
    border: 400px;
    text-align: center;
    color: azure;
    border-radius: 5px;
    text-decoration: none;
    background-image: linear-gradient(rgb(250, 200, 114),rgb(246, 255, 71));
    
}
.card{
    width: 80px;
    height: 50px;
    border: 1px solid gray;
    display: flex;
    text-align: center;
    border-radius:8px;
    padding:20px;
    box-shadow: 9px 9px 9px gray;
    transition: 0.8ms;
}
.card:hover{
    border: 1px;
    transition: 0.8ms;
    margin-top: -20px;

}