h1{
  margin-top:120px;
  
  font-family: 'Sacramento', cursive;
  font-size: 80px;
  color:  darkkhaki;
  line-height:1em;
  padding-left: 360px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5 rem;
    color:rgb(3, 67, 46);
    font-weight:700;
    margin-left: 580px;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 60px;
    font-weight: bold;
    font-size: 1.5rem ;
    text-align: center;
    
}
p{
    text-align: center;
    
}
.title{
    font-family: sans-serif;
    font-size: 30px;
    padding: 15px;
}
.menu-bar{
    margin-top: 0px;
    padding: 30px;
    background-color: darksalmon;
    display: flex;
    justify-content: space-around;
    
}
.menu-items{
    display: flex;
    margin-right: 10px;
}
.menu-items li{
    list-style: none;
    margin: 8px;
    padding: 12px;
    font-size: 20px;
}
.menu-items:hover{
    color: red;
    cursor: pointer;
}

.paragraph{
    text-align: center;
    padding-left: 200px;
    padding-right: 150px;
    color:rgb(92, 199, 199);
    font-size: x-large;
}
.colored-paragraph{
    padding-left: 50px;
    padding-right: 50px;
    color:rgb(152, 16, 16);
    font-size: bold;
    
}
.button{
    margin-top: 120px;
    margin-left: 650px;
    width: 150px;
    border: 15px;
    border-radius: 3px;
    background-color: rgb(244, 131, 172);
    text-decoration: none;
    padding: 10px;
    
    
}
.highlight{
    color:darksalmon;
    padding: 100px;
}

.top-container{
    background-image: url(./images/donation7.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-position: center;
    width: 100%;

  
}

.middle-container{
    
    margin-top: 50px;
    justify-content: space-evenly;
    padding: 50px;
    margin-bottom: 50px;
}
.card-container{
    margin-top: 150px;
    display: flex;
    margin-left: 450px;
    margin-right: 450px;
    justify-content: space-evenly;
}
.card{
    background-color: pink;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    text-align: center;
    border-radius:8px;
    box-shadow: 9px 9px 9px gray;
    transition: 0.8ms;

}
.card:hover{
    color: brown;
    border: 1px solid brown;
    transition: 0.8ms;
    margin-top: -5px;


}
.other-amount{
    width: 25%;
    text-align: center;
    margin-left: 510px;
    margin-top: 130px;

}
.amount-input{
  
    border: none; 
    border-width: 0; 
    box-shadow: none;
}
.next-middle-container{
    margin-top: 150px;

}
.card-image1{
    margin-top: 120px;
    width: 300px;
    height: 210px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    background-color: pink;
   
}
.card-image2{
    margin-top: 120px;
    width: 300px;
    height: 210px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    background-color: palevioletred;
   
}
.card-image3{
    margin-top: 120px;
    width: 300px;
    height: 210px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    background-color: plum;
    
   
}
.card-image1:hover{
    border: 1px solid brown;
    transition: 0.8ms;
    margin-top: -20px;
}
.card-image2:hover{
    border: 1px solid brown;
    transition: 0.8ms;
    margin-top: -20px;
}
.card-image3:hover{
    border: 1px solid brown;
    transition: 0.8ms;
    margin-top: -20px;
}
.icon{
    width: 50px;
    
}
.card-para{
    margin-top: 5px;
}
.title1{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icon{
    margin-top: 5px;
    width: 50px;
    
}


.survival1{
    position: relative;
    margin-top: 60px;
    display: flex;
    height : 50vh;
}
.block-right{
    margin-top: 100px;
    margin-left: 100px;
    width: 400px;
    border: none;
    
}
.block-left{
    margin-top: 100px;
    margin-left: 100px;
  
    width: 400px;
    border: none;
   
}
.survival2{
    position: relative;
    display: flex;
    
   
    display: flex;
}
.container-before-bottom{
   
    justify-content: space-evenly;
    align-items: center;
    
}
.image{
    width:350px;
    
}
.contribute{
    margin-left: 30px;
    width: 150px;
    border: 15px;
    border-radius: 3px;
    background-color: rgb(244, 131, 172);
    text-decoration: none;
    padding: 10px;


}
.bottom-container{
    display: block;
    justify-content:center;
    align-items: center;
}
.wrapper{
    display: block;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.input-email{
    border-radius: 3px;
    padding: 5px;
    border: none;
    justify-self: center;
    align-items: center;
    margin-left: 10px;
    
}

.input-subscribe{
    background-color: red;
    margin-left: -10px;
    border-radius: 3px;
    padding: 5px;
    border: none;
   
    
}
.inputs-container{
    display: flex;
    width: 400px;
    height: 100px;
    align-items: center;
    padding: 5px;
    background-color: bisque;
    margin-left: 530px;
    margin-bottom: 30px;
    
    
}

.font{
    font-style: italic;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}